@charset "UTF-8";
/*样式初始化*/
html{-webkit-text-size-adjust: 100%; font-size: 62.5%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input,button, textarea, p, blockquote, th, td, hr{margin: 0; padding: 0; -webkit-box-sizing: border-box;box-sizing: border-box;-moz-box-sizing: border-box;}
body{font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; font-size: 12px;overflow-x: hidden; width:100%;position: relative;}
html, body{margin: 0;padding: 0;}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary{display: block;}
audio, canvas, progress, video{display: inline-block; vertical-align: baseline;}
audio:not([controls]){display: none; height: 0;}
[hidden], template{display: none;}
svg:not(:root){overflow: hidden;}
a{background: transparent;text-decoration:none;-webkit-tap-highlight-color:transparent;}
a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b, strong{font-weight:bold;}
dfn{font-style:italic;}
small{font-size:80%;}
sub, sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
hr{box-sizing: content-box; height: 0;}
pre{overflow: auto; white-space: pre; word-wrap: break-word;}
code, kbd, pre, samp{font-family: monospace, monospace; font-size: 1em;}
button, input, optgroup, select, textarea{color: inherit; font: inherit; margin: 0;}
button{overflow: visible;}
button, select{text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"]{-webkit-appearance: button;}
input{line-height: normal;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="checkbox"], input[type="radio"]{box-sizing: border-box; padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]{-webkit-appearance: textfield; -webkit-box-sizing: border-box; box-sizing: border-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #ccc;}
fieldset{border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend{border: 0; padding: 0;}
textarea{overflow: auto; resize: vertical;}
optgroup{font-weight: bold;}
table{border-collapse: collapse; border-spacing: 0;}
td, th{padding: 0;}
ul, ol{list-style: none outside none;}
h1, h2, h3 {line-height:2; font-weight: normal;}
h1{font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 16px;}
i{font-style: normal;}
::-ms-clear,::-ms-reveal{display:none;}
*{-webkit-tap-highlight-color: transparent;-webkit-overflow-scrolling:touch;box-sizing: border-box;-moz-box-sizing: border-box;/* Firefox */-webkit-box-sizing: border-box;/* Safari */}
textarea{outline: none;line-height: 14px;padding-left: 4px;padding-top: 4px;border: 1px solid #ccc;color: #444;font-size: 14px;outline: none;text-align: left;}
.img-full{display: block;width: 100%;}
::-webkit-input-placeholder {color: #777;}
:-moz-placeholder{ /* Firefox 18- */ color:#777;}
::-moz-placeholder{ /* Firefox 19+ */ color:#777;}
:-ms-input-placeholder {color:#777;}
input:focus{outline: 0;-webkit-box-shadow: none;box-shadow: none;}
figure{-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0;-webkit-margin-end: 0;}
